<% provide(:title, 'お問い合わせ内容確認 | LYbody') %>

<div class="container">
  <div class="row">
    <div class="contact-confirm col-8 offset-2">
      <h2 class="border-heading-bottom mb-5">お問い合わせ内容確認</h2>
      <div class="contact-name text-center">
        <p>お名前：<%= @contact.name %></p>
      </div>
      <div class="contact-email mt-3 text-center">
        <p>メールアドレス：<%= @contact.email %></p>
      </div>
      <div class="contact-message mt-3 mb-5 text-center">
        <p>お問い合わせ内容</p>
        <p style="white-space: pre-wrap;"><%= @contact.message %></p>
      </div>
      <%= form_with model: @contact, url: contacts_path, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :message %>
        <div class="text-center">
          <%= f.submit "送信", class: 'btn btn-outline-light px-5' %>
        </div>
      <% end %>
      <%= form_with model: @contact, url: back_path, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :message %>
        <div class="text-center mt-3 mb-5">
          <%= f.submit "入力画面に戻る", class: 'btn btn-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>