<% provide(:title, "チャット - #{@room.instructor.name} - | LYbody") %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="user-chat-page col-10 offset-1">
      <h2 class="border-heading-bottom mb-5">チャット（<%= @room.instructor.name %>）</h2>
      <div id="chat-wrap">
        <%= render 'chat-content', chats: @chats, room: @room %>
      </div>
      <div class="user-chat-form">
        <%= form_with model: @chat, url: chats_path do |f| %>
          <%= f.hidden_field :is_user, :value => true %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <div class="chat-text col-8 offset-2 d-flex justify-content-center">
            <%= f.text_area :message, placeholder: 'メッセージを入力', class: 'form-control col-8', id: 'chat-textarea', rows: 1 %>
            <div class="ml-5">
              <%= f.submit "送信", class: 'btn btn-outline-light chat-submit' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>