<header>
  <nav class="navbar navbar-expand-lg">
    <a href="/" class="navbar-brand">
      <%= image_tag asset_path('logo'), :size => '160x100' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto pr-5">
        <% if instructor_signed_in? %>
          <li><%= link_to "会員一覧", root_path, class: 'nav-link' %></li>
          <li><%= link_to "マイページ", root_path, class: 'nav-link' %></li>
          <li><%= link_to "ログアウト", destroy_instructor_session_path, class: 'nav-link', method: :delete %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to "マイページ", root_path, class: 'nav-link' %></li>
          <li><%= link_to "インストラクター", root_path, class: 'nav-link' %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, class: 'nav-link', method: :delete %></li>
        <% else %>
          <li><%= link_to "About", about_path, class: 'nav-link' %></li>
          <li><%= link_to "インストラクター", root_path, class: 'nav-link' %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
