<% provide(:title, 'レッスン予約状況 | LYbody') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="js-error-message"></div>
  <div class="row">
    <div class="reservations my-5">
      <h2 class="border-heading-bottom mb-5">レッスン予約状況（インストラクター：<%= @instructor.name %>）</h2>
      <p>
        ※ 空き状況を確認し、レッスンご受講の希望日をクリックしてご希望のレッスン開始時間を選択してください。（レッスン実施時間は１時間です。） <br>
        ※ 必ずログイン後に予約してください。（ご予約は入会されている方のみ可能です。）<br>
        ※ 一回にお取りになれるご予約は、お一人様につき一つとなっております。
      </p>
      <div id="calendar" class="py-5"></div>
      <p>※ 予約のキャンセルをご希望の方は、マイページからお願い致します。<br>※ ご予約日の前日または当日に予約をキャンセル・変更したい場合は、予約したレッスンのインストラクターまでチャットにてご連絡ください。</p>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.is_payed? %>
<div class="modal fade" id="new_reservation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-dark">レッスン予約（インストラクター：<%= @instructor.name %>）</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark">
        <div class="reservation-form">
          <%= form_with model: @reservation do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :instructor_id, :value => @instructor.id %>
            <%= f.label :start_time, "レッスン予約希望日時" %> <br>
            <p style="font-size: 0.8rem;">※ 時間は開始時間を選択してください。</p>
            <%= f.datetime_select :start_time, { start_year: Time.now.year, end_year: Time.now.year + 2, use_two_digit_numbers: true, start_hour: 9, end_hour: 22, minute_step: 60, date_separator:'/' }, { class: 'form-control mx-2', style: 'display: inline-block;width: auto;' } %>
            <%= f.submit "予約する", class: 'btn btn-outline-dark ml-2', style: "vertical-align: unset;" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>