<% provide(:title, 'マイページ | LYbody - インストラクター') %>

<%= render 'shared/backpage' %>

<div class="container">
  <%= render 'shared/error_messages', obj: @lesson %>
  <div class="row">
    <div class="instructor-mypage col-10 offset-1 mb-5 pb-3">
      <h2 class="border-heading-bottom mb-5">マイページ</h2>
      <div class="instructor-info border-bottom">
        <h4 class="border-heading-side my-5 pt-3">登録情報・レッスン追加</h4>
        <div class="info-wrap d-flex px-5">
          <div class="instructor-img">
            <%= image_tag @instructor.instructor_image.url(:thumb_sm) %>
          </div>
          <table class="table table-borderless table-sm col-10 ml-5 mt-3">
            <tbody>
              <tr>
                <td>インストラクター名</td>
                <td><%= @instructor.name %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= @instructor.email %></td>
              </tr>
              <tr>
                <td>レッスン</td>
                <td>
                  <% if @instructor.lessons.present? %>
                    <% @instructor.lessons.each do |lesson| %>
                      <% if lesson.id %>
                        <%= lesson.lesson %><%= link_to "（削除する）", instructors_lesson_path(lesson.id), method: :delete, class: 'lesson-delete-link ml-2' %> <br>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p>なし</p>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="lesson-form my-5 col-10 offset-1">
          <%= form_with model: @lesson, url: instructors_lessons_path, local: true do |f| %>
            <div class="existing-lesson-form d-flex">
              <p class="pr-5 mr-3">
                <%= radio_button_tag :lesson_button, "existing_lesson", default: true %>
                <%= f.label "既存のレッスンから選択して追加する" %>
              </p>
              <%= f.collection_select :lesson_select, Lesson.all, :lesson, :lesson, { prompt: "レッスンを選択してください" }, { class: 'form-control col-5 ml-4' } %>
            </div>
            <div class="add-lesson-form d-flex mt-3">
              <p class="mr-5 pr-4">
                <%= radio_button_tag :lesson_button, "add_lesson" %>
                <%= f.label "新しくレッスンを追加する" %>
              </p>
              <%= f.label :lesson, "レッスン名", class: 'mr-3 pt-1' %>
              <%= f.text_field :lesson, class: 'form-control col-5 mr-5' %>
            </div>
            <div class="lesson-submit text-center mt-4">
              <%= f.submit "レッスンを追加する", class: 'btn btn-outline-light' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="lesson-reservation border-bottom">
        <h4 class="border-heading-side mb-5 mt-5">レッスン予約確認</h4>
        <div class="reservation-list col-md-8 offset-md-2 mb-5">
          <table class="table table-borderless table-sm">
            <thead>
              <tr>
                <td>予約日時</td>
                <td>予約者氏名</td>
              </tr>
            </thead>
            <tbody>
              <% @instructor.reservations.each do |reservation| %>
              <tr>
                <td><%= reservation.date_and_time %></td>
                <td><%= reservation.user.fullname %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>