<% provide(:title, 'マイページ | LYbody - インストラクター') %>

<%= render 'shared/backpage' %>

<div class="container">
  <%= render 'shared/error_messages', obj: @lesson %>
  <div class="row">
    <div class="instructor-mypage col-10 offset-1 mb-5 pb-3">
      <h2 class="border-heading-bottom mb-5">マイページ</h2>
      <div class="instructor-info border-bottom">
        <h4 class="border-heading-side my-5 pt-3">登録情報・レッスン追加</h4>
        <div class="info-wrap d-flex px-5">
          <div class="instructor-img">
            <%= image_tag @instructor.instructor_image.url(:thumb_sm) %>
          </div>
          <table class="table table-borderless table-sm col-10 ml-5 mt-3">
            <tbody>
              <tr>
                <td>インストラクター名</td>
                <td><%= @instructor.name %></td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td><%= @instructor.email %></td>
              </tr>
              <tr>
                <td>レッスン</td>
                <td>
                  <% if @instructor.lessons.present? %>
                    <% @instructor.lessons.each do |lesson| %>
                      <% if lesson.id %>
                        <%= lesson.lesson %><%= link_to "（削除する）", instructors_lesson_path(lesson.id), method: :delete, class: 'lesson-delete-link ml-2', data: { confirm: '本当に削除しますか？' } %> <br>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p>なし</p>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="lesson-form my-5 col-10 offset-1">
          <%= form_with model: @lesson, url: instructors_lessons_path, local: true do |f| %>
            <div class="existing-lesson-form d-lg-flex d-block">
              <p class="pr-5 mr-3">
                <%= radio_button_tag :lesson_button, "existing_lesson", default: true %>
                <%= f.label "既存のレッスンから選択して追加する" %>
              </p>
              <%= f.collection_select :lesson_select, Lesson.all, :lesson, :lesson, { prompt: "レッスンを選択してください" }, { class: 'form-control col-lg-5 ml-4' } %>
            </div>
            <div class="add-lesson-form d-lg-flex d-block mt-3">
              <p class="mr-5 pr-4">
                <%= radio_button_tag :lesson_button, "add_lesson" %>
                <%= f.label "新しくレッスンを追加する" %>
              </p>
              <%= f.label :lesson, "レッスン名", class: 'mr-3 pt-1' %>
              <%= f.text_field :lesson, class: 'form-control col-lg-5 mr-5' %>
            </div>
            <div class="lesson-submit text-center mt-4">
              <%= f.submit "レッスンを追加する", class: 'btn btn-outline-light' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="lesson-reservation border-bottom">
        <h4 class="border-heading-side mb-5 mt-5">レッスン予約確認</h4>
        <% if @instructor.reservations.present? %>
          <div class="reservation-list col-md-10 offset-md-1 mb-5">
            <table class="table table-borderless table-sm">
              <thead>
                <tr>
                  <td class="td-left border-bottom pl-3">予約日時</td>
                  <td class="border-bottom">予約者氏名</td>
                  <td class="border-bottom"></td>
                  <td class="border-bottom"></td>
                </tr>
              </thead>
              <tbody>
                <% @instructor.reservations.each do |reservation| %>
                <tr>
                  <td class="pt-3 pl-3"><%= reservation.date_and_time %></td>
                  <td class="pt-3"><%= reservation.user.fullname %></td>
                  <td class="pt-3">
                    <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#ReservationModal-<%= reservation.id %>">
                      変更する
                    </button>
                    <div class="modal fade" id="ReservationModal-<%= reservation.id %>" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content text-dark">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">予約変更</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="reservation-edit-form">
                            <%= form_with model: reservation, url: instructors_reservation_path(reservation), local: true do |f| %>
                              <%= f.label :start_time, "変更後予約日時（開始時間）" %> <br>
                              <%= f.datetime_select :start_time, { start_year: Time.now.year, end_year: Time.now.year + 2, use_month_numbers:true, start_hour: 9, end_hour: 22, minute_step: 60, date_separator:'/' }, { class: 'form-control mx-2', style: 'display: inline-block;width: auto;' } %>
                              <%= f.submit "変更する", class: 'btn btn-outline-dark ml-2', style: "vertical-align: unset;" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </td>
                  <td class="pt-3"><%= link_to "削除する", instructors_reservation_path(reservation), class: 'btn btn-outline-light btn-sm', method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p class="text-center mb-5">現在レッスンは予約されておりません。</p>
        <% end %>
      </div>
      <div class="reviews border-bottom my-5">
        <h4 class="border-heading-side mb-5 mt-5">レビュー</h4>
        <% if @instructor.reviews.present? %>
          <table class="table table-borderless table-sm col-10 offset-1 mb-5">
            <thead class="border-bottom">
              <tr>
                <td class="pl-3">レビュー投稿者</td>
                <td>レビュー内容</td>
              </tr>
            </thead>
            <tbody>
              <% @instructor.reviews.each do |review| %>
                <tr>
                  <td class="pl-3"><%= review.user.fullname %></td>
                  <td><%= review.comment %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>レッスンのレビューはまだありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>