<% provide(:title, "- #{@instructor.name} - | LYbody") %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="instructor-detail col-12">
      <h2 class="border-heading-bottom mb-5"><%= @instructor.name %></h2>
      <div class="info-wrap d-flex px-5">
        <div class="instructor-img pr-3">
          <%= image_tag @instructor.instructor_image.url(:thumb) %>
        </div>
        <table class="table table-borderless col-9 ml-5 mt-4">
          <tbody>
            <tr>
              <td>インストラクター名</td>
              <td><%= @instructor.name %></td>
            </tr>
            <tr>
              <td>担当レッスン</td>
              <td>
                <% @instructor.lessons.each do |lesson| %>
                  <%= lesson.lesson %> <br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>一言</td>
              <td><%= @instructor.comment %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% if user_signed_in? %>
        <% if payed(current_user) %>
          <div class="links col-8 offset-2 d-flex justify-content-between mt-5">
            <%= link_to "予約の空き状況を確認する", reservations_path(instructor_id: @instructor.id), class: 'btn btn-outline-light px-5' %>
            <%= link_to "チャットで質問する", room_path(@room), class: 'btn btn-outline-light px-5', data: { "turbolinks" => false } %>
          </div>
        <% else %>
          <div class="link text-center mt-5">
            <%= link_to "予約の空き状況を確認する", reservations_path(instructor_id: @instructor.id), class: 'btn btn-outline-light px-5' %>
          </div>
        <% end %>
      <% else %>
        <div class="link text-center mt-5">
          <%= link_to "予約の空き状況を確認する", reservations_path(instructor_id: @instructor.id), class: 'btn btn-outline-light px-5' %>
        </div>
      <% end %>
      <div class="review mt-5 pt-5 col-10 offset-1">
        <h4 class="border-heading-bottom mb-4"><i class="far fa-comments"></i> レッスンレビュー</h4>
        <p id="reviews-count" class="text-right mr-4">レビュー件数：<%= @instructor.reviews.count %>件</p>
        <div id="review-content-<%= @instructor.id %>" class="p-5 mt-3">
          <%= render 'public/reviews/review-content', instructor: @instructor %>
        </div>
        <% if user_signed_in? %>
          <h4 class="border-heading-side mt-3 mb-5">レビューを投稿する</h4>
          <div id="review-form">
            <div class="js-error-message"></div>
            <%= form_with(model: [@instructor, @review]) do |f| %>
              <div class="form-group col-10 offset-1 pb-5">
                <%= f.label :comment, "投稿内容" %>
                <%= f.text_area :comment, class: 'form-control', rows: '4', placeholder: 'こちらにインストラクターのレッスンについてのレビューをお書きください&#13;&#10;文字数は800文字以下でご記入ください'.html_safe, id: 'review-textarea' %>
                <div class="review-submit text-center my-5">
                  <%= f.submit "投稿する", class: 'btn btn-outline-light' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>